# ƒê·ªí √ÅN CU·ªêI K·ª≤ L·∫¨P TR√åNH CHO KHOA H·ªåC D·ªÆ LI·ªÜU

## Th√¥ng tin ƒë·ªì √°n

+ Ch·ªß ƒë·ªÅ: **T√¨m hi·ªÉu v·ªÅ gi√° thu√™ chung c∆∞ ·ªü th√†nh ph·ªë H·ªì Ch√≠ Minh**
+ Github: [p4ds-final](https://github.com/vanhung4499/p4ds-final)

### Th√¥ng tin nh√≥m

Nh√≥m ch·ªâ c√≥ m·ªôt th√†nh vi√™n duy nh·∫•t

| MSSV    | H·ªç v√† t√™n       |
|---------|-----------------|
| 1712222 | Nguy·ªÖn VƒÉn H√πng |

## M√¥i tr∆∞·ªùng l√†m vi·ªác

In [63]:
import sys
sys.executable

'/usr/local/anaconda3/envs/min_ds-env/bin/python'

M√¥i tr∆∞·ªùng l√†m vi·ªác m√† em d√πng:
+ OS: macOS
+ IDE: Pycharm
+ S·ª≠ d·ª•ng m·ªôi tr∆∞·ªùng `min_ds-evn` nh∆∞ c√°c b√†i lab

## Import and constant

In [64]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [65]:
DATA_CSV = './data/hcm-apartment-rent-data.csv'

## 1. Thu th·∫≠p d·ªØ li·ªáu

### 1.1. Ch·ªß ƒë·ªÅ, m·ª•c ƒë√≠ch v√† ngu·ªìn c·ªßa d·ªØ li·ªáu?

+ Ch·ªß ƒë·ªÅ em nh·∫Øm t·ªõi l√† v·ªÅ gi√° thu√™ chung c∆∞ ·ªü th√†nh ph·ªë H·ªì Ch√≠ Minh
+ Do t√¨m tr√™n kaggle ch·ªâ c√≥ duy nh·∫•t m·ªôt b·ªô d·ªØ li·ªáu v·ªÅ gi√° thu√™ chung c∆∞ c·ªßa th√†nh ph·ªë H·ªì Ch√≠ Minh nh∆∞ng ƒë√£ c≈© v√† em c·∫£m th·∫•y n√≥ √≠t kh√¥ng ƒë·ªß c√°c c·ªôt n√™n em ƒë√£ t·ª± crawl d·ªØ li·ªáu t·ª´ [nhatot.vn](https://www.nhatot.com/thue-can-ho-chung-cu-tp-ho-chi-minh), trang m√¥i gi·ªõi x·∫øp t·ªëp ƒë·∫ßu trong lƒ©nh v·ª±c b·∫•t ƒë·ªông s·∫£n tr√™n [Google](https://www.google.com/search?q=thu%C3%AA+chung+c%C6%B0+h%E1%BB%93+ch%C3%AD+minh&oq=thu%C3%AA+chung+c%C6%B0&aqs=chrome.1.69i59l3j0i512l2j69i60l3.4604j0j7&sourceid=chrome&ie=UTF-8)
+ M·ª•c ƒë√≠ch c·ªßa em kh√° ƒë∆°n gi·∫£n l√† ƒë·ªÉ xem x√©t gi√° c·∫£ chung c∆∞ cho thu√™ ·ªü TPHCM, v√¨ trong th·ªùi gian t·ªõi em c≈©ng s·∫Ω t√¨m ch·ªó ·ªü m·ªõi (l√†m tr∆∞·ªõc sau d√πng l·∫°i)

### 1.2. Ng∆∞·ªùi ta c√≥ cho ph√©p s·ª≠ d·ª•ng d·ªØ li·ªáu nh∆∞ th·∫ø n√†y hay kh√¥ng?

+ Vi·ªác crawl d·ªØ li·ªáu t·ª´ nhatot c√≥ th·ªÉ l√† kh√¥ng h·ª£p ph√°p, trang web c≈©ng s·ª≠ d·ª•ng c√¥ng c·ª• ch·ªëng ddos, nh∆∞ng m√† ƒë·ªÉ ph·ª•c v·ª• cho ƒë·ªì √°n th√¨ ch·∫Øc kh√¥ng sao c·∫£!

### 1.3. Thu th·∫≠p d·ªØ li·ªáu n√†y nh∆∞ th·∫ø n√†o?

+ D·ªØ li·ªáu ƒë∆∞·ª£c em crawl t·ª´ [nhatot.vn](https://www.nhatot.com/thue-can-ho-chung-cu-tp-ho-chi-minh), l√† trang m√¥i gi·ªõi v·ªÅ b·∫•t ƒë·ªông s·∫£n l·ªõn ·ªü Vi·ªát Nam, web c√≥ r·∫•t nhi·ªÅu tin cho thu√™ nh√†
+ Em crawl d·ªØ li·ªáu to√†n b·ªô 1000 trang thu v·ªÅ 20000 record
+ Chi ti·∫øt v·ªÅ c√°ch crawl ƒë∆∞·ª£c m√¥ t·∫£ ·ªü file notebook `Crawl-data.ipynb`

## 2. Kh√°m ph√° d·ªØ li·ªáu

### 2.1. ƒê·ªçc d·ªØ li·ªáu

In [66]:
apartment_df = pd.read_csv(DATA_CSV)
apartment_df.head()

,ad_id,list_id,list_time,subject,body,price,price_string,size,rooms,toilets,...,region_name,ward_name,street_name,deposit,zero_deposit,longitude,latitude,owner,company_ad,apartment_type
0,139905225,101449743,1669427357000,"CƒÉn h·ªô CMT8 Q10, C·ª≠a s·ªï, M√°y gi·∫∑t ri√™ng, G√°c","CƒÉn h·ªô C√°ch M·∫°ng Th√°ng 8 Q10, C·ª≠a s·ªï, M√°y gi·∫∑t...","9,000,000",9 tri·ªáu/th√°ng,30,1,1,...,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 13,H·∫ªm 499 C√°ch M·∫°ng Th√°ng 8,0,False,107,11,False,True,CƒÉn h·ªô d·ªãch v·ª•
1,140064167,101580825,1669783016000,CƒÉn H·ªô 1PN _ Kcx T√¢n Thu·∫≠n ch·ª£ UFM s√°t Qu·∫≠n 4üåà,‚≠êÔ∏èS·∫Øp h·∫øt th√°ng r·ªìi kh√°ch ƒë√£ t√¨m ƒë∆∞·ª£c ph√≤ng ch...,"5,700,000","5,7 tri·ªáu/th√°ng",37,1,1,...,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng B√¨nh Thu·∫≠n,ƒê∆∞·ªùng L√Ω Ph·ª•c Man,0,False,107,11,False,True,CƒÉn h·ªô d·ªãch v·ª•
2,139905234,101449753,1669427371000,KHAI TR∆Ø∆†NG CƒÇN H·ªò BANCOL FULL N·ªòI TH·∫§T,Cho thu√™ cƒÉn h·ªô\n_V·ªã tr√≠ : ƒë∆∞·ªùng Th·∫°ch Lam p.p...,"4,500,000","4,5 tri·ªáu/th√°ng",35,1,1,...,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng Ph√∫ Th·∫°nh,ƒê∆∞·ªùng Th·∫°ch Lam,0,False,107,11,False,True,CƒÉn h·ªô d·ªãch v·ª•
3,140064185,101580839,1669783034000,CƒÉn h·ªô ban c√¥ng l·ªõn c·ª±c Chill_Ngay ƒêi·ªán Bi√™n Ph·ªß,"üì£üì£ H·ªÜ TH·ªêNG CƒÇN H·ªò STUDIO, 1PN C√íN TR·ªêNG, FULL...","11,000,000",11 tri·ªáu/th√°ng,45,1,1,...,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 17,H·∫ªm 372 ƒêi·ªán Bi√™n Ph·ªß,0,False,107,11,False,True,Chung c∆∞
4,140064089,101580840,1669783039000,Cho thu√™ CHDV ngay B√¨nh Th·∫°nh g·∫ßn Th·∫£o C·∫ßm Vi√™n,ùóßùóøùóºÃÇÃÅùóªùó¥ ùòÄùóÆÃÜÃÉùóª ùóñùóõùóóùó© ùó¶ùòÅùòÇùó±ùó∂ùóº ùóºÃõÃâ ùó±ùòÇÃõùóºÃõÃ£ùó∞ ùóπùó∂ùó≤ÃÇÃÄùóª ùó¥...,"5,800,000","5,8 tri·ªáu/th√°ng",30,1,1,...,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 19,ƒê∆∞·ªùng Nguy·ªÖn Ng·ªçc Ph∆∞∆°ng,1,False,107,11,False,True,CƒÉn h·ªô d·ªãch v·ª•

### 2.2. D·ªØ li·ªáu c√≥ bao nhi√™u d√≤ng v√† bao nhi√™u c·ªôt?

In [67]:
apartment_df.shape

(19911, 21)

D·ªØ li·ªáu g·ªìm 19996 d√≤ng v√† 20 c·ªôt, ƒë√∫ng nh∆∞ nh·ªØng g√¨ ƒë√£ thu th·∫≠p tr∆∞·ªõc ƒë√≥

### 2.3. M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng?

+ M·ªói d√≤ng l√† th√¥ng tin cho thu√™ c·ªßa m·ªôt cƒÉn h·ªô nh∆∞ gi√° thu√™, di·ªán t√≠ch, s·ªë ph√≤ng, s·ªë nh√† v·ªá sinh, ƒë·ªãa ch·ªâ, ...
+ D·ª±a theo th√¥ng tin tr√™n web l√∫c crawl th√¨ s·∫Ω kh√¥ng c√≥ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau

### 2.4. M·ªói c·ªôt c√≥ √Ω nghƒ©a g√¨?

D∆∞·ªõi ƒë√¢y l√† ph·∫ßn m√¥ t·∫£ v·ªÅ c√°c c·ªôt:

| Column         | Description                                |
|----------------|--------------------------------------------|
| ad_id          | id c·ªßa tin (ƒë·ªÉ ph√¢n bi·ªát)                  |
| list_id        | id trong danh s√°ch ads (d√πng ƒë·ªÉ ph√¢n bi·ªát) |
| list_time      | Th·ªùi gian ƒëƒÉng tin                         |
| price          | Gi√° thu√™ (VND)                             |
| price_string   | Gi√° thu√™ (tri·ªáu / th√°ng) cho d·ªÖ nh√¨n       |
| size           | Di·ªán t√≠ch (m2)                             |
| rooms          | S·ªë ph√≤ng                                   |
| toilets        | S·ªë nh√† v·ªá sinh                             |
| body           | M√¥ t·∫£                                      |
| street_name    | ƒê∆∞·ªùng                                      |
| ward_name      | Ph∆∞·ªùng                                     |
| area_name      | Qu·∫≠n huy·ªán                                 |
| region_name    | Th√†nh ph·ªë, t·ªânh                            |
| zero_deposit   | C√≥ c·∫ßn ti·ªÅn c·ªçc kh√¥ng?                     |
| deposit        | Ti·ªÅn c·ªçc                                   |
| longitude      | Kinh ƒë·ªô                                    |
| latitude       | Vƒ© ƒë·ªô                                      |
| owner          | C√≥ ph·∫£i ch·ªß nh√† kh√¥ng?                     |
| company_ad     | Tin c·ªßa c√°c nh√¢n hay c√¥ng ty               |
| apartment_type | Ki·ªÉu cƒÉn h·ªô / chung c∆∞                     |

### 2.4. Ki·ªÉm tra d·ªØ li·ªáu c√≥ b·ªã tr√πng l·∫∑p kh√¥ng?

In [68]:
apartment_df.duplicated().sum()

0

D·ªØ li·ªáu thu th·∫≠p ƒë∆∞·ª£c kh√¥ng b·ªã tr√πng l·∫∑p, d·ª±a v√†o vi·ªác crawl tr∆∞·ªõc ƒë√≥ n√™n c√≥ th·ªÉ y√™n t√¢m

### 2.5. M·ªói c·ªôt hi·ªán ƒëang c√≥ ki·ªÉu d·ªØ li·ªáu g√¨? C√≥ c·ªôt n√†o c√≥ ki·ªÉu d·ªØ li·ªáu ch∆∞a ph√π h·ª£p ƒë·ªÉ c√≥ th·ªÉ x·ª≠ l√Ω ti·∫øp kh√¥ng?

In [69]:
apartment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19911 entries, 0 to 19910
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ad_id           19911 non-null  int64
 1   list_id         19911 non-null  int64
 2   list_time       19911 non-null  int64
 3   subject         19911 non-null  object
 4   body            19911 non-null  object
 5   price           19897 non-null  float64
 6   price_string    19897 non-null  object
 7   size            19910 non-null  float64
 8   rooms           19911 non-null  int64
 9   toilets         19904 non-null  float64
 10  area_name       19903 non-null  object
 11  region_name     19911 non-null  object
 12  ward_name       19899 non-null  object
 13  street_name     19696 non-null  object
 14  deposit         19911 non-null  int64
 15  zero_deposit    19911 non-null  bool
 16  longitude       19904 non-null  float64
 17  latitude        19904 non-null  float64
 18  owner           19911 non-null  bool
 19  company_ad      19911 non-null  bool
 20  apartment_type  19911 non-null  object
dtypes: bool(3), float64(5), int64(5), object(8)
memory usage: 2.8+ MB

Nh·∫≠n th·∫•y m·ªôt s·ªë v·∫•n ƒë√® nh∆∞ sau:
+ C·ªôt `toilets`, `price` l√† s·ªë nh√† v·ªá sinh n√™n c√≥ ki·ªÉu d·ªØ li·ªáu `int64`
+ C·ªôt `list_time` l√† th·ªùi gian ƒëƒÉng tin n√™n c√≥ ki·ªÉu `datetime`
+ C·ªôt `ad_id`, `list_id`, `company_ad`, s·∫Ω kh√¥ng c√≤n c·∫ßn thi·∫øt
+ C·ªôt `size`, `price`, `toilets`, `area_name` c√≥ b·ªã thi·∫øu n√™n ta s·∫Ω lo·∫°i b·ªè nh·ªØng d√≤ng thi·∫øu n√†y

In [70]:
# convert timestamp in milisecond to datetime
apartment_df['list_time'] = pd.to_datetime(apartment_df['list_time'], unit='ms')

In [71]:
# drop missing value
apartment_df = apartment_df.dropna()
# drop not used column
apartment_df = apartment_df.drop(['ad_id', 'list_id', 'company_ad'], axis=1)
apartment_df.shape

(19676, 18)

C√≤n l·∫°i 19873 d√≤ng

In [72]:
# convert float64 to int64
apartment_df['toilets'] = apartment_df['toilets'].apply(np.int64)
apartment_df['price'] = apartment_df['price'].apply(np.int64)

In [73]:
apartment_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19676 entries, 0 to 19910
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   list_time       19676 non-null  datetime64[ns]
 1   subject         19676 non-null  object
 2   body            19676 non-null  object
 3   price           19676 non-null  int64
 4   price_string    19676 non-null  object
 5   size            19676 non-null  float64
 6   rooms           19676 non-null  int64
 7   toilets         19676 non-null  int64
 8   area_name       19676 non-null  object
 9   region_name     19676 non-null  object
 10  ward_name       19676 non-null  object
 11  street_name     19676 non-null  object
 12  deposit         19676 non-null  int64
 13  zero_deposit    19676 non-null  bool
 14  longitude       19676 non-null  float64
 15  latitude        19676 non-null  float64
 16  owner           19676 non-null  bool
 17  apartment_type  19676 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(3), int64(4), object(8)
memory usage: 2.6+ MB

Sau khi x·ª≠ l√Ω, d·ªØ li·ªáu ƒë√£ kh√° ·ªïn

### 2.6. V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu numeric, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

In [74]:
pd.set_option('display.float_format',  '{:,.0f}'.format)

numeric_cols = ['price', 'size', 'rooms', 'toilets', 'deposit']
apartment_df[numeric_cols].describe()

               price    size  rooms  toilets        deposit
count         19,676  19,676 19,676   19,676         19,676
mean      27,179,492      64      2        1     10,356,813
std      622,224,013   1,070      1        1    319,744,251
min          500,000       2      1        1              0
25%        6,000,000      35      1        1              0
50%        8,000,000      51      1        1              0
75%       12,500,000      72      2        2      7,500,000
max   70,000,000,000 150,000     11        7 38,000,000,000

+ Nh·∫≠n ra ngay min v√† max c·ªßa `price`, `size`, `deposit` c√≥ v·∫•n ƒë·ªÅ:
   + L√†m g√¨ c√≥ cƒÉn h·ªô n√†o m√† thu√™ 500k/th√°ng, di·ªán t√≠ch c√≥ 2 m2, d·ª± ƒëo√°n l√† tin r√°c
   + L√†m g√¨ c√≥ ai thu√™ cƒÉn h·ªô n√†o thu√™ m√† 150000 m2, gi√° thu√™ 70 t·ª∑/th√°ng, c·ªçc 38 t·ª∑, d·ª± ƒëo√°n b√°n l√† ƒë·∫•t n·ªÅn nh∆∞ng ƒëƒÉng nh·∫ßm qua cho thu√™ chung c∆∞
+ C√°c c·ªôt c√≤n l·∫°i ph√¢n b·ªë b√¨nh th∆∞·ªùng:
      + rooms t·ª´ 1 -> 11
      + toilets t·ª´ 1 -> 7

### 2.7. V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu categorical, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

#### C·ªôt **region_name**

In [75]:
apartment_df['region_name'].value_counts()

Tp H·ªì Ch√≠ Minh    19676
Name: region_name, dtype: int64

Do ta ch·ªâ xem x√©t ·ªü TP HCM n√™n c·ªôt n√†y ch·ªâ c√≥ duy nh·∫•t m·ªôt gi√° tr·ªã, lo·∫°i b·ªè c·ªôt n√†y luoon

In [76]:
apartment_df = apartment_df.drop(['region_name'], axis=1)

#### C·ªôt **area_name**

In [79]:
apartment_df['area_name'].value_counts()

Qu·∫≠n 7               3372
Th√†nh ph·ªë Th·ªß ƒê·ª©c    3236
Qu·∫≠n B√¨nh Th·∫°nh      2294
Qu·∫≠n T√¢n B√¨nh        1824
Qu·∫≠n 1               1193
Qu·∫≠n Ph√∫ Nhu·∫≠n       1128
Qu·∫≠n G√≤ V·∫•p           982
Qu·∫≠n T√¢n Ph√∫          854
Qu·∫≠n 10               813
Qu·∫≠n 8                691
Qu·∫≠n 3                686
Qu·∫≠n 4                670
Qu·∫≠n B√¨nh T√¢n         424
Huy·ªán B√¨nh Ch√°nh      391
Huy·ªán Nh√† B√®          330
Qu·∫≠n 12               291
Qu·∫≠n 5                219
Qu·∫≠n 6                179
Qu·∫≠n 11                95
Huy·ªán H√≥c M√¥n           4
Name: area_name, dtype: int64

Tr√™n ƒë√¢y l√† ph√¢n b·ªë cƒÉn h·ªô cho thu√™ theo qu·∫≠n s·∫Øp x·∫øp theo s·ªë l∆∞·ª£n gi·∫£m d·∫ßn:
+ Nhi·ªÅu nh·∫•t l√† qu·∫≠n 7 v·ªõi h∆°n 3 ngh√¨n tin cho thu√™, ti·∫øp theo l√† th√†nh ph·ªë ƒê·ª©c (qu·∫≠n Th·ªß ƒê·ª©c + qu·∫≠n 9 + qu·∫≠n 2) di·ªán t√≠ch r·∫•t l·ªõn nh∆∞ng v·∫´n √≠t ph√≤ng cho thu√™ h∆°n qu·∫≠n 7
+ Huy·ªán H√≥c M√¥n x·∫øp b√©t b·∫£ng v·ªõi ch·ªâ 4 tin, c≈©ng h·ª£p l√Ω v√¨ ch·∫£ ai qua thu√™ b√™n ƒë·∫•y l√†m g√¨ c·∫£

#### C·ªôt **owner**

In [80]:
apartment_df['owner'].value_counts()

False    19676
Name: owner, dtype: int64

T·∫•t c·∫£ ƒë·ªÅ l√† False, c√≥ nghƒ©a l√† kh√¥ng c√≥ ch·ªß nh√† n√†o ƒëƒÉng tin cho thu√™, t·∫•t c·∫£ ƒë·ªÅu l√† m√¥i gi·ªõi, n·∫øu thu√™ th√¨ s·∫Ω kh√≥ th∆∞∆°ng l∆∞·ª£ng gi·∫£m gi√° v·ªõi ch·ªß nh√† ƒëu·ª£c v√¨ h·ªç th∆∞·ªùng ph·∫£i tr·∫£ cho m√¥i gi·ªõi m·ªôt kho·∫£n ph√≠

Ta c≈©ng lo·∫°i b·ªè c·ªôt n√†y lu√¥n

In [81]:
apartment_df = apartment_df.drop(['owner'], axis=1)

#### C·ªôt **apartment_type**

In [82]:
apartment_df['apartment_type'].value_counts()

Chung c∆∞          12053
CƒÉn h·ªô d·ªãch v·ª•     6606
Duplex              698
Officetel           214
Penthouse            76
T·∫≠p th·ªÉ              29
Name: apartment_type, dtype: int64

+ ƒêa s·ªë l√† cƒÉn h·ªô chung c∆∞, ti·∫øp theo l√† t·ªõi c√°c cƒÉn h·ªô d·ªãch v·ª•
+ Penthouse, dupplex kh√° √≠t, v√¨ gi√° cao n√™n s·∫Ω c√≥ √≠t ng∆∞·ªùi c√≥ nhu c·∫ßu thu√™ nh·ªØng lo·∫°i h√¨nh n√†y
+ CƒÉn h·ªô t·∫≠p th·ªÉ c·ª±c √≠t v√¨ ch·∫Øc ch·∫£ ai thu√™

#### C·ªôt **zero_deposit**

In [83]:
apartment_df['zero_deposit'].value_counts()

False    19672
True         4
Name: zero_deposit, dtype: int64

G·∫ßn nh∆∞ ch·ªß nh√† s·∫Ω y√™u c·∫ßu ti·ªÅn c·ªçc, ch·ªß c√≥ 4 tin kh√¥ng c·∫ßn c·ªçc nh∆∞ng m√† kh·∫£ nƒÉng c≈©ng l√† do qu√™n ƒëi·ªÅn l√∫c t·∫°o tin. Ta s·∫Ω b·ªè qua c·ªôt n√†y lu√¥n!

In [84]:
apartment_df = apartment_df.drop(['zero_deposit'], axis=1)

#### C·ªôt **list_time**

In [85]:
pd.to_datetime(apartment_df['list_time']).dt.date.value_counts()

2022-12-02    1715
2022-12-03    1653
2022-12-01    1515
2022-11-22    1363
2022-11-23    1361
2022-11-30    1357
2022-11-28    1343
2022-11-29    1341
2022-11-24    1322
2022-11-25    1315
2022-11-21    1208
2022-11-26    1140
2022-11-19    1024
2022-11-20     895
2022-11-27     814
2022-11-18     310
Name: list_time, dtype: int64

C√°c tin ƒë∆∞·ª£c ƒëƒÉng t·ª´ 18/11 t·ªõi 3/12, trong kho·∫£ng 2 tu·∫ßn, n√™n c√≥ th·ªÉ coi d·ªØ li·ªáu l√† m·ªõi, t√≠nh ·ªü th·ªùi ƒëi·ªÉm ph√¢n t√≠ch l√† ng√†y 3/12. Ta c≈©ng c√≥ th·ªÉ b·ªè c·ªôt n√†y lu√¥n v√¨ n√≥ kh√¥ng c√≥ qu√° nhi·ªÅu √Ω nghƒ©a khi g·∫ßn nhau

In [86]:
apartment_df = apartment_df.drop(['list_time'], axis=1)

## 3. ƒê·∫∑t ra c√°c c√¢u h·ªèi?

## 4. Ti·ªÅn x·ª≠ l√Ω v√† ph√¢n t√≠ch d·ªØ li·ªáu ƒë·ªÉ tr·∫£ l·ªùi cho t·ª´ng c√¢u h·ªèi