# ƒê·ªí √ÅN CU·ªêI K·ª≤ L·∫¨P TR√åNH CHO KHOA H·ªåC D·ªÆ LI·ªÜU

## Th√¥ng tin ƒë·ªì √°n

+ Ch·ªß ƒë·ªÅ: **T√¨m hi·ªÉu v·ªÅ gi√° thu√™ chung c∆∞ ·ªü th√†nh ph·ªë H·ªì Ch√≠ Minh**
+ Github: [p4ds-final](https://github.com/vanhung4499/p4ds-final)

### Th√¥ng tin nh√≥m

Nh√≥m ch·ªâ c√≥ m·ªôt th√†nh vi√™n duy nh·∫•t

| MSSV    | H·ªç v√† t√™n       |
|---------|-----------------|
| 1712222 | Nguy·ªÖn VƒÉn H√πng |

## M√¥i tr∆∞·ªùng l√†m vi·ªác

In [21]:
import sys
sys.executable

'/usr/local/anaconda3/envs/min_ds-env/bin/python'

M√¥i tr∆∞·ªùng l√†m vi·ªác m√† em d√πng:
+ OS: macOS
+ IDE: Pycharm
+ S·ª≠ d·ª•ng m·ªôi tr∆∞·ªùng `min_ds-evn` nh∆∞ c√°c b√†i lab

## Import and constant

In [18]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [19]:
DATA_CSV = './data/hcm-apartment-rent-data.csv'

## 1. Thu th·∫≠p d·ªØ li·ªáu

### 1.1. Ch·ªß ƒë·ªÅ, m·ª•c ƒë√≠ch v√† ngu·ªìn c·ªßa d·ªØ li·ªáu?

+ Ch·ªß ƒë·ªÅ em nh·∫Øm t·ªõi l√† v·ªÅ gi√° thu√™ chung c∆∞ ·ªü th√†nh ph·ªë H·ªì Ch√≠ Minh
+ Do t√¨m tr√™n kaggle ch·ªâ c√≥ duy nh·∫•t m·ªôt b·ªô d·ªØ li·ªáu v·ªÅ gi√° thu√™ chung c∆∞ c·ªßa th√†nh ph·ªë H·ªì Ch√≠ Minh nh∆∞ng ƒë√£ c≈© v√† em c·∫£m th·∫•y n√≥ √≠t kh√¥ng ƒë·ªß c√°c c·ªôt n√™n em ƒë√£ t·ª± crawl d·ªØ li·ªáu t·ª´ [nhatot.vn](https://www.nhatot.com/thue-can-ho-chung-cu-tp-ho-chi-minh)
+ M·ª•c ƒë√≠ch c·ªßa em kh√° ƒë∆°n gi·∫£n l√† ƒë·ªÉ xem x√©t gi√° c·∫£ chung c∆∞ cho thu√™ ·ªü TPHCM, v√¨ trong th·ªùi gian t·ªõi em c≈©ng s·∫Ω t√¨m ch·ªó ·ªü m·ªõi (l√†m tr∆∞·ªõc sau d√πng l·∫°i)

### 1.2. Ng∆∞·ªùi ta c√≥ cho ph√©p s·ª≠ d·ª•ng d·ªØ li·ªáu nh∆∞ th·∫ø n√†y hay kh√¥ng?

+ Vi·ªác crawl d·ªØ li·ªáu t·ª´ nhatot c√≥ th·ªÉ l√† kh√¥ng h·ª£p ph√°p, trang web c≈©ng s·ª≠ d·ª•ng c√¥ng c·ª• ch·ªëng ddos, nh∆∞ng m√† ƒë·ªÉ ph·ª•c v·ª• cho ƒë·ªì √°n th√¨ ch·∫Øc kh√¥ng sao c·∫£!

### 1.3. Thu th·∫≠p d·ªØ li·ªáu n√†y nh∆∞ th·∫ø n√†o?

+ D·ªØ li·ªáu ƒë∆∞·ª£c em crawl t·ª´ [nhatot.vn](https://www.nhatot.com/thue-can-ho-chung-cu-tp-ho-chi-minh), l√† trang m√¥i gi·ªõi v·ªÅ b·∫•t ƒë·ªông s·∫£n l·ªõn ·ªü Vi·ªát Nam, web c√≥ r·∫•t nhi·ªÅu tin cho thu√™ nh√†
+ Em crawl d·ªØ li·ªáu to√†n b·ªô 1000 trang thu v·ªÅ 20000 record
+ Chi ti·∫øt v·ªÅ c√°ch crawl ƒë∆∞·ª£c m√¥ t·∫£ ·ªü file notebook `Crawl-data.ipynb`

## 2. Kh√°m ph√° d·ªØ li·ªáu

### 2.1. ƒê·ªçc d·ªØ li·ªáu

In [14]:
apartment_df = pd.read_csv(DATA_CSV)
apartment_df.head()

,ad_id,list_id,subject,price,size,rooms,toilets,area_name,region_name,ward_name,street_name,detail_address,escrow_can_deposit,zero_deposit,longitude,latitude
0,140064645,101581228,CƒÉn h·ªô cho thu√™ gi√° 7.5 tri·ªáu Khang Gia G√≤ V·∫•p,7500000,76.0,2,2,Qu·∫≠n G√≤ V·∫•p,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 14,S·ªë 45,"ƒê∆∞·ªùng S·ªë 45, Ph∆∞·ªùng 14, G√≤ V·∫•p, H·ªì Ch√≠ Minh",2,False,106.63781,10.84310
1,139204943,100868150,CHO THU√ä 13TR FULL NT 2PN-THE SUN AVENUE Q2,13000000,56.0,2,1,Th√†nh ph·ªë Th·ªß ƒê·ª©c,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng An Ph√∫ (Qu·∫≠n 2 c≈©),ƒê∆∞·ªùng An Ph√∫,NaN,2,False,106.75142,10.80719
2,139614436,101207971,Cho Thu√™ CƒÉn H·ªô 3PN DREAMHOME PALACE NT nh∆∞ h√¨nh,8000000,79.0,3,2,Qu·∫≠n 8,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 7,NaN,NaN,2,False,106.62474,10.70677
3,140081070,101595037,üî• NOEL ƒê·∫∂C BI·ªÜTüî• CƒÇN H·ªò CHO THU√ä GI√Å R·∫∫ QU·∫¨N 10,6200000,30.0,1,1,Qu·∫≠n 10,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 14,H·∫ªm 51 Th√†nh Th√°i,NaN,2,False,106.66371,10.77188
4,134246472,96807427,"CƒÉn h·ªô H∆∞ng Ng√¢n 2PN, 70m2, full n·ªôi th·∫•t, ·ªü li·ªÅn",7500000,68.0,2,2,Qu·∫≠n 12,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng T√¢n Ch√°nh Hi·ªáp,"ƒê∆∞·ªùng T√¢n Ch√°nh Hi·ªáp 21, Ph∆∞·ªùng T√¢n Ch√°nh Hi·ªáp...","Qu·∫≠n 12, Tp H·ªì Ch√≠ Minh",2,False,106.62596,10.86830

## 2. Kh√°m ph√° d·ªØ li·ªáu

In [ ]:
## M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨?

### 2.1. √ù nghƒ©a c·ªßa c√°c c·ªôt?


| Column              | Description                            |
|---------------------|----------------------------------------|
| ad_id               | id c·ªßa tin (ƒë·ªÉ ph√¢n bi·ªát)              |
| list_id             | id trong danh s√°ch (d√πng ƒë·ªÉ ph√¢n bi·ªát) |
| subject             | Ti√™u ƒë·ªÅ c·ªßa tin                        |
| price               | Gi√° thu√™ (VND)                         |
| size                | Di·ªán t√≠ch (m2)                         |
| rooms               | S·ªë ph√≤ng                               |
| toilets             | S·ªë nh√† v·ªá sinh                         |
| area_name           | Qu·∫≠n huy·ªán                             |
| region_name         | Th√†nh ph·ªë, t·ªânh                        |
| ward_name           | Ph∆∞·ªùng                                 |
| street_name         | ƒêu·ªùng                                  |
| detail_address      | ƒê·ªãa ch·ªâ chi ti·∫øt                       |
| zero_deposit        | C√≥ c·∫ßn ti·ªÅn c·ªçc kh√¥ng?                 |
| escrow_can_deposit  | C·ªçc bao nhi√™u th√°ng?                   |
| longitude           | Kinh ƒë·ªô                                |
| latitude            | Vƒ© ƒë·ªô                                  |

### 1.3. D·ªØ li·ªáu c√≥ bao nhi√™u d√≤ng v√† bao nhi√™u c·ªôt?

In [17]:
apartment_df.shape

(20000, 16)

D·ªØ li·ªáu g·ªìm 20000 d√≤ng (1000 * 20) v√† 16 c·ªôt, ƒë√∫ng nh∆∞ nh·ªØng g√¨ ƒë√£ thu th·∫≠p tr∆∞·ªõc ƒë√≥

In [8]:
apartment_df.describe().T

,count,mean,std,min,25%,50%,75%,max
ad_id,20000.0,1.367747e+08,7.252702e+06,1.156086e+08,1.395121e+08,1.400724e+08,1.400809e+08,1.400811e+08
list_id,20000.0,9.891263e+07,5.859449e+06,8.187637e+07,1.011230e+08,1.015880e+08,1.015949e+08,1.015950e+08
price,20000.0,1.295000e+07,1.098415e+07,4.200000e+06,5.725000e+06,8.250000e+06,1.625000e+07,4.900000e+07
size,20000.0,6.337500e+01,2.946380e+01,2.500000e+01,3.375000e+01,6.900000e+01,7.825000e+01,1.280000e+02
rooms,20000.0,1.750000e+00,6.982295e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00
toilets,20000.0,1.600000e+00,5.831098e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00
escrow_can_deposit,20000.0,2.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
longitude,20000.0,1.066956e+02,4.679639e-02,1.066037e+02,1.066633e+02,1.067123e+02,1.067349e+02,1.067553e+02
latitude,20000.0,1.077714e+01,4.450595e-02,1.070316e+01,1.074063e+01,1.078563e+01,1.080627e+01,1.086830e+01

In [9]:
apartment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ad_id               20000 non-null  int64
 1   list_id             20000 non-null  int64
 2   subject             20000 non-null  object
 3   price               20000 non-null  int64
 4   size                20000 non-null  float64
 5   rooms               20000 non-null  int64
 6   toilets             20000 non-null  int64
 7   area_name           20000 non-null  object
 8   region_name         20000 non-null  object
 9   ward_name           20000 non-null  object
 10  street_name         18000 non-null  object
 11  detail_address      8000 non-null   object
 12  escrow_can_deposit  20000 non-null  int64
 13  zero_deposit        20000 non-null  bool
 14  longitude           20000 non-null  float64
 15  latitude            20000 non-null  float64
dtypes: bool(1), float64(3), int64(6), object(6)
memory usage: 2.3+ MB

## 2. X·ª≠ l√Ω d·ªØ li·ªáu

##