# ƒê·ªí √ÅN CU·ªêI K·ª≤ L·∫¨P TR√åNH CHO KHOA H·ªåC D·ªÆ LI·ªÜU

## Th√¥ng tin ƒë·ªì √°n

+ Ch·ªß ƒë·ªÅ: **T√¨m hi·ªÉu v·ªÅ gi√° thu√™ chung c∆∞ ·ªü th√†nh ph·ªë H·ªì Ch√≠ Minh**
+ Github: [p4ds-final](https://github.com/vanhung4499/p4ds-final)

### Th√¥ng tin nh√≥m

Nh√≥m ch·ªâ c√≥ m·ªôt th√†nh vi√™n duy nh·∫•t

| MSSV    | H·ªç v√† t√™n       |
|---------|-----------------|
| 1712222 | Nguy·ªÖn VƒÉn H√πng |

## M√¥i tr∆∞·ªùng l√†m vi·ªác

In [81]:
import sys
sys.executable

'/usr/local/anaconda3/envs/min_ds-env/bin/python'

M√¥i tr∆∞·ªùng l√†m vi·ªác m√† em d√πng:
+ OS: macOS
+ IDE: Pycharm
+ S·ª≠ d·ª•ng m·ªôi tr∆∞·ªùng `min_ds-evn` nh∆∞ c√°c b√†i lab

## Import and constant

In [82]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [83]:
DATA_CSV = './data/hcm-apartment-rent-data.csv'

## 1. Thu th·∫≠p d·ªØ li·ªáu

### 1.1. Ch·ªß ƒë·ªÅ, m·ª•c ƒë√≠ch v√† ngu·ªìn c·ªßa d·ªØ li·ªáu?

+ Ch·ªß ƒë·ªÅ em nh·∫Øm t·ªõi l√† v·ªÅ gi√° thu√™ chung c∆∞ ·ªü th√†nh ph·ªë H·ªì Ch√≠ Minh
+ Do t√¨m tr√™n kaggle ch·ªâ c√≥ duy nh·∫•t m·ªôt b·ªô d·ªØ li·ªáu v·ªÅ gi√° thu√™ chung c∆∞ c·ªßa th√†nh ph·ªë H·ªì Ch√≠ Minh nh∆∞ng ƒë√£ c≈© v√† em c·∫£m th·∫•y n√≥ √≠t kh√¥ng ƒë·ªß c√°c c·ªôt n√™n em ƒë√£ t·ª± crawl d·ªØ li·ªáu t·ª´ [nhatot.vn](https://www.nhatot.com/thue-can-ho-chung-cu-tp-ho-chi-minh), trang m√¥i gi·ªõi x·∫øp t·ªëp ƒë·∫ßu trong lƒ©nh v·ª±c b·∫•t ƒë·ªông s·∫£n tr√™n [Google](https://www.google.com/search?q=thu%C3%AA+chung+c%C6%B0+h%E1%BB%93+ch%C3%AD+minh&oq=thu%C3%AA+chung+c%C6%B0&aqs=chrome.1.69i59l3j0i512l2j69i60l3.4604j0j7&sourceid=chrome&ie=UTF-8)
+ M·ª•c ƒë√≠ch c·ªßa em kh√° ƒë∆°n gi·∫£n l√† ƒë·ªÉ xem x√©t gi√° c·∫£ chung c∆∞ cho thu√™ ·ªü TPHCM, v√¨ trong th·ªùi gian t·ªõi em c≈©ng s·∫Ω t√¨m ch·ªó ·ªü m·ªõi (l√†m tr∆∞·ªõc sau d√πng l·∫°i)

### 1.2. Ng∆∞·ªùi ta c√≥ cho ph√©p s·ª≠ d·ª•ng d·ªØ li·ªáu nh∆∞ th·∫ø n√†y hay kh√¥ng?

+ Vi·ªác crawl d·ªØ li·ªáu t·ª´ nhatot c√≥ th·ªÉ l√† kh√¥ng h·ª£p ph√°p, trang web c≈©ng s·ª≠ d·ª•ng c√¥ng c·ª• ch·ªëng ddos, nh∆∞ng m√† ƒë·ªÉ ph·ª•c v·ª• cho ƒë·ªì √°n th√¨ ch·∫Øc kh√¥ng sao c·∫£!

### 1.3. Thu th·∫≠p d·ªØ li·ªáu n√†y nh∆∞ th·∫ø n√†o?

+ D·ªØ li·ªáu ƒë∆∞·ª£c em crawl t·ª´ [nhatot.vn](https://www.nhatot.com/thue-can-ho-chung-cu-tp-ho-chi-minh), l√† trang m√¥i gi·ªõi v·ªÅ b·∫•t ƒë·ªông s·∫£n l·ªõn ·ªü Vi·ªát Nam, web c√≥ r·∫•t nhi·ªÅu tin cho thu√™ nh√†
+ Em crawl d·ªØ li·ªáu to√†n b·ªô 1000 trang thu v·ªÅ 20000 record
+ Chi ti·∫øt v·ªÅ c√°ch crawl ƒë∆∞·ª£c m√¥ t·∫£ ·ªü file notebook `Crawl-data.ipynb`

## 2. Kh√°m ph√° d·ªØ li·ªáu

### 2.1. ƒê·ªçc d·ªØ li·ªáu

In [84]:
apartment_df = pd.read_csv(DATA_CSV)
apartment_df.head()

,ad_id,list_id,list_time,subject,body,price,price_string,size,rooms,toilets,area_name,region_name,ward_name,deposit,zero_deposit,longitude,latitude,owner,company_ad,apartment_type
0,139905225,101449743,1669427357000,"CƒÉn h·ªô CMT8 Q10, C·ª≠a s·ªï, M√°y gi·∫∑t ri√™ng, G√°c","CƒÉn h·ªô C√°ch M·∫°ng Th√°ng 8 Q10, C·ª≠a s·ªï, M√°y gi·∫∑t...",9000000.0,9 tri·ªáu/th√°ng,30.0,1,1.0,Qu·∫≠n 10,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 13,0,False,106.67245,10.78176,False,True,CƒÉn h·ªô d·ªãch v·ª•
1,140064167,101580825,1669783016000,CƒÉn H·ªô 1PN _ Kcx T√¢n Thu·∫≠n ch·ª£ UFM s√°t Qu·∫≠n 4üåà,‚≠êÔ∏èS·∫Øp h·∫øt th√°ng r·ªìi kh√°ch ƒë√£ t√¨m ƒë∆∞·ª£c ph√≤ng ch...,5700000.0,"5,7 tri·ªáu/th√°ng",37.0,1,1.0,Qu·∫≠n 7,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng B√¨nh Thu·∫≠n,0,False,106.72563,10.74310,False,True,CƒÉn h·ªô d·ªãch v·ª•
2,139905234,101449753,1669427371000,KHAI TR∆Ø∆†NG CƒÇN H·ªò BANCOL FULL N·ªòI TH·∫§T,Cho thu√™ cƒÉn h·ªô\n_V·ªã tr√≠ : ƒë∆∞·ªùng Th·∫°ch Lam p.p...,4500000.0,"4,5 tri·ªáu/th√°ng",35.0,1,1.0,Qu·∫≠n T√¢n Ph√∫,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng Ph√∫ Th·∫°nh,0,False,106.62711,10.77815,False,True,CƒÉn h·ªô d·ªãch v·ª•
3,140064175,101580838,1669783034000,CƒÇN H·ªò ƒê·∫¶Y ƒê·ª¶ N·ªòI TH·∫§T G·∫¶N ƒêH KINH T·∫æ üëâ CH·ªà 3TR7,üí•üí•CƒÇN H·ªò ƒê·∫¶Y ƒê·ª¶ N·ªòI TH·∫§T G·∫¶N ƒêH KINH T·∫æ\nüçÄ V·ªã...,3700000.0,"3,7 tri·ªáu/th√°ng",30.0,1,1.0,Qu·∫≠n Ng≈© H√†nh S∆°n,ƒê√† N·∫µng,Ph∆∞·ªùng Khu√™ M·ªπ,0,False,108.25112,16.03646,False,True,CƒÉn h·ªô d·ªãch v·ª•
4,140064185,101580839,1669783034000,CƒÉn h·ªô ban c√¥ng l·ªõn c·ª±c Chill_Ngay ƒêi·ªán Bi√™n Ph·ªß,"üì£üì£ H·ªÜ TH·ªêNG CƒÇN H·ªò STUDIO, 1PN C√íN TR·ªêNG, FULL...",11000000.0,11 tri·ªáu/th√°ng,45.0,1,1.0,Qu·∫≠n B√¨nh Th·∫°nh,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 17,0,False,106.70816,10.79913,False,True,Chung c∆∞

### 2.2. D·ªØ li·ªáu c√≥ bao nhi√™u d√≤ng v√† bao nhi√™u c·ªôt?

In [85]:
apartment_df.shape

(19996, 20)

D·ªØ li·ªáu g·ªìm 19996 d√≤ng v√† 20 c·ªôt, ƒë√∫ng nh∆∞ nh·ªØng g√¨ ƒë√£ thu th·∫≠p tr∆∞·ªõc ƒë√≥

### 2.3. M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng?

+ M·ªói d√≤ng l√† th√¥ng tin cho thu√™ c·ªßa m·ªôt cƒÉn h·ªô nh∆∞ gi√° thu√™, di·ªán t√≠ch, s·ªë ph√≤ng, s·ªë nh√† v·ªá sinh, ƒë·ªãa ch·ªâ, ...
+ D·ª±a theo th√¥ng tin tr√™n web l√∫c crawl th√¨ s·∫Ω kh√¥ng c√≥ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau

### 2.4. M·ªói c·ªôt c√≥ √Ω nghƒ©a g√¨?

D∆∞·ªõi ƒë√¢y l√† ph·∫ßn m√¥ t·∫£ v·ªÅ c√°c c·ªôt:

| Column         | Description                                |
|----------------|--------------------------------------------|
| ad_id          | id c·ªßa tin (ƒë·ªÉ ph√¢n bi·ªát)                  |
| list_id        | id trong danh s√°ch ads (d√πng ƒë·ªÉ ph√¢n bi·ªát) |
| list_time      | Th·ªùi gian ƒëƒÉng tin                         |
| price          | Gi√° thu√™ (VND)                             |
| price_string   | Gi√° thu√™ (tri·ªáu / th√°ng) cho d·ªÖ nh√¨n       |
| size           | Di·ªán t√≠ch (m2)                             |
| rooms          | S·ªë ph√≤ng                                   |
| toilets        | S·ªë nh√† v·ªá sinh                             |
| body           | M√¥ t·∫£                                      |
| street_name    | ƒê∆∞·ªùng                                      |
| ward_name      | Ph∆∞·ªùng                                     |
| area_name      | Qu·∫≠n huy·ªán                                 |
| region_name    | Th√†nh ph·ªë, t·ªânh                            |
| zero_deposit   | C√≥ c·∫ßn ti·ªÅn c·ªçc kh√¥ng?                     |
| deposit        | Ti·ªÅn c·ªçc                                   |
| longitude      | Kinh ƒë·ªô                                    |
| latitude       | Vƒ© ƒë·ªô                                      |
| owner          | C√≥ ph·∫£i ch·ªß nh√† kh√¥ng?                     |
| company_ad     | Tin c·ªßa c√°c nh√¢n hay c√¥ng ty               |
| apartment_type | Ki·ªÉu cƒÉn h·ªô / chung c∆∞                     |

### 2.4. Ki·ªÉm tra d·ªØ li·ªáu c√≥ b·ªã tr√πng l·∫∑p kh√¥ng?

In [86]:
apartment_df.duplicated().sum()

0

D·ªØ li·ªáu thu th·∫≠p ƒë∆∞·ª£c kh√¥ng b·ªã tr√πng l·∫∑p, d·ª±a v√†o vi·ªác crawl tr∆∞·ªõc ƒë√≥ n√™n c√≥ th·ªÉ y√™n t√¢m

### 2.5. M·ªói c·ªôt hi·ªán ƒëang c√≥ ki·ªÉu d·ªØ li·ªáu g√¨? C√≥ c·ªôt n√†o c√≥ ki·ªÉu d·ªØ li·ªáu ch∆∞a ph√π h·ª£p ƒë·ªÉ c√≥ th·ªÉ x·ª≠ l√Ω ti·∫øp kh√¥ng?

In [87]:
apartment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19996 entries, 0 to 19995
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ad_id           19996 non-null  int64
 1   list_id         19996 non-null  int64
 2   list_time       19996 non-null  int64
 3   subject         19996 non-null  object
 4   body            19996 non-null  object
 5   price           19979 non-null  float64
 6   price_string    19979 non-null  object
 7   size            19995 non-null  float64
 8   rooms           19996 non-null  int64
 9   toilets         19989 non-null  float64
 10  area_name       19990 non-null  object
 11  region_name     19996 non-null  object
 12  ward_name       19989 non-null  object
 13  deposit         19996 non-null  int64
 14  zero_deposit    19996 non-null  bool
 15  longitude       19987 non-null  float64
 16  latitude        19987 non-null  float64
 17  owner           19996 non-null  bool
 18  company_ad      19996 non-null  bool
 19  apartment_type  19996 non-null  object
dtypes: bool(3), float64(5), int64(5), object(7)
memory usage: 2.7+ MB

Nh·∫≠n th·∫•y m·ªôt s·ªë v·∫•n ƒë√® nh∆∞ sau:
+ C·ªôt `toilets`, `price` l√† s·ªë nh√† v·ªá sinh n√™n c√≥ ki·ªÉu d·ªØ li·ªáu `int64`
+ C·ªôt `list_time` l√† th·ªùi gian ƒëƒÉng tin n√™n c√≥ ki·ªÉu `datetime`
+ C·ªôt `ad_id`, `list_id`, `company_ad`, s·∫Ω kh√¥ng c√≤n c·∫ßn thi·∫øt
+ C·ªôt `size`, `price`, `toilets`, `area_name` c√≥ b·ªã thi·∫øu n√™n ta s·∫Ω lo·∫°i b·ªè nh·ªØng d√≤ng thi·∫øu n√†y

In [88]:
# convert timestamp in milisecond to datetime
apartment_df['list_time'] = pd.to_datetime(apartment_df['list_time'], unit='ms')

In [89]:
# drop missing value
apartment_df = apartment_df.dropna()
# drop not used column
apartment_df = apartment_df.drop(['ad_id', 'list_id', 'company_ad'], axis=1)
apartment_df.shape

(19957, 17)

In [90]:
# convert float64 to int64
apartment_df['toilets'] = apartment_df['toilets'].apply(np.int64)
apartment_df['price'] = apartment_df['price'].apply(np.int64)

In [91]:
apartment_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19957 entries, 0 to 19995
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   list_time       19957 non-null  datetime64[ns]
 1   subject         19957 non-null  object
 2   body            19957 non-null  object
 3   price           19957 non-null  int64
 4   price_string    19957 non-null  object
 5   size            19957 non-null  float64
 6   rooms           19957 non-null  int64
 7   toilets         19957 non-null  int64
 8   area_name       19957 non-null  object
 9   region_name     19957 non-null  object
 10  ward_name       19957 non-null  object
 11  deposit         19957 non-null  int64
 12  zero_deposit    19957 non-null  bool
 13  longitude       19957 non-null  float64
 14  latitude        19957 non-null  float64
 15  owner           19957 non-null  bool
 16  apartment_type  19957 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(3), int64(4), object(7)
memory usage: 2.5+ MB

Sau khi x·ª≠ l√Ω, d·ªØ li·ªáu ƒë√£ kh√° ·ªïn

### 2.6. V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu numeric, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

In [101]:
pd.set_option('display.float_format',  '{:,.0f}'.format)

numeric_cols = ['price', 'size', 'rooms', 'toilets', 'deposit']
apartment_df[numeric_cols].describe()

               price    size  rooms  toilets        deposit
count         19,957  19,957 19,957   19,957         19,957
mean      28,596,408      66      2        1     10,088,041
std      654,278,729   1,064      1        1    317,449,890
min          500,000       1      1        1              0
25%        6,000,000      35      1        1              0
50%        8,000,000      55      2        1              0
75%       12,000,000      73      2        2      8,000,000
max   70,000,000,000 150,000     11        7 38,000,000,000

Nh·∫≠n ra ngay min v√† max c·ªßa `price`, `size` c√≥ v·∫•n ƒë·ªÅ:
   + L√†m g√¨ c√≥ cƒÉn h·ªô n√†o m√† thu√™ 500k/th√°ng, di·ªán t√≠ch c√≥ 1 m2, d·ª± ƒëo√°n l√† tin r√°c
   + L√†m g√¨ c√≥ ai thu√™ cƒÉn h·ªô n√†o thu√™ m√† 150000 m2, gi√° thu√™ 70 t·ª∑/th√°ng, d·ª± ƒëo√°n b√°n l√† ƒë·∫•t n·ªÅn nh∆∞ng ƒëƒÉng nh·∫ßm qua cho thu√™ chung c∆∞

### 2.7. V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu categorical, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

In [ ]:
categorical_cols = ['']

## 3. X·ª≠ l√Ω d·ªØ li·ªáu

##