# Module 2 - EDA

## 0. Import and constant

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
DATA_CSV = './data/hcm-apartment-rent-data.csv'

## 1. Kh√°m ph√° d·ªØ li·ªáu

In [ ]:
### 1.1. ƒê·ªçc d·ªØ li·ªáu

In [4]:
apartment_df = pd.read_csv(DATA_CSV)
apartment_df.head()

,ad_id,list_id,subject,price,size,rooms,toilets,area_name,region_name,ward_name,street_name,detail_address,escrow_can_deposit,zero_deposit,longitude,latitude
0,140064645,101581228,CƒÉn h·ªô cho thu√™ gi√° 7.5 tri·ªáu Khang Gia G√≤ V·∫•p,7500000,76.0,2,2,Qu·∫≠n G√≤ V·∫•p,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 14,S·ªë 45,"ƒê∆∞·ªùng S·ªë 45, Ph∆∞·ªùng 14, G√≤ V·∫•p, H·ªì Ch√≠ Minh",2,False,106.63781,10.84310
1,139204943,100868150,CHO THU√ä 13TR FULL NT 2PN-THE SUN AVENUE Q2,13000000,56.0,2,1,Th√†nh ph·ªë Th·ªß ƒê·ª©c,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng An Ph√∫ (Qu·∫≠n 2 c≈©),ƒê∆∞·ªùng An Ph√∫,NaN,2,False,106.75142,10.80719
2,139614436,101207971,Cho Thu√™ CƒÉn H·ªô 3PN DREAMHOME PALACE NT nh∆∞ h√¨nh,8000000,79.0,3,2,Qu·∫≠n 8,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 7,NaN,NaN,2,False,106.62474,10.70677
3,140081070,101595037,üî• NOEL ƒê·∫∂C BI·ªÜTüî• CƒÇN H·ªò CHO THU√ä GI√Å R·∫∫ QU·∫¨N 10,6200000,30.0,1,1,Qu·∫≠n 10,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng 14,H·∫ªm 51 Th√†nh Th√°i,NaN,2,False,106.66371,10.77188
4,134246472,96807427,"CƒÉn h·ªô H∆∞ng Ng√¢n 2PN, 70m2, full n·ªôi th·∫•t, ·ªü li·ªÅn",7500000,68.0,2,2,Qu·∫≠n 12,Tp H·ªì Ch√≠ Minh,Ph∆∞·ªùng T√¢n Ch√°nh Hi·ªáp,"ƒê∆∞·ªùng T√¢n Ch√°nh Hi·ªáp 21, Ph∆∞·ªùng T√¢n Ch√°nh Hi·ªáp...","Qu·∫≠n 12, Tp H·ªì Ch√≠ Minh",2,False,106.62596,10.86830

## 2. X·ª≠ l√Ω d·ªØ li·ªáu

##